body {
    background-color: rgb(12, 60, 77);
    text-align: center;
}

h1 {
    color: white;
}

p {
    color: white;
}
a.button {
  display: inline-block;
  padding: 12px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;

}
